mixin list(items, className, active)
  ul(class=className)
    each item, index in items
      li(class=className + '__item')
        if index === active
          span(class=className + '__active')=item
        else
          a(class=className + '__link')=item

          

mixin approachItem(globCount)
 - var n = 0
  while globCount--
    - n = ++n
    li.approach__item
      .approach__image
        img.approach__picture(src="../../images/step-"+n+".jpg" alt="picture")
        .approach__step step
      .approach__text
        .approach__title Step #{n} : Heading Here
        p.approach__description. 
          Lorem nisi laborum officia Lorem esse aliqua aliquip anim deserunt adipisicing pariatur consequat. 
          Tempor Lorem nulla dolor est proident irure amet esse nostrud tempor deserunt Lorem. Incididunt 
          fugiat pariatur deserunt laboris veniam aliquip commodo consectetur veniam.